#container {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button {
    font-size: 1.5rem;
    padding: 10px, 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(72, 72, 252);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgb(23, 23, 253);
}

button:active {
    background-color: rgb(11, 11, 250);
}

input {
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

#diceresult {
    margin: 25px
}

#diceImage img{
    width: 100px;
    margin: 5px;
}

@keyframes roll {
  0%   { transform: rotate(0deg); }
  50%  { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

#diceImage img {
  width: 100px;
  margin: 5px;
  animation: roll 0.6s ease-in-out;
}